/*/bin
/*/obj
/TestResults
/packages

StyleCop.Cache
*.suo
*.GhostDoc.xml
Ocaramba.sln.DotSettings.user

*.user
LastBuild.log
/Ocaramba.Documentation/Help
/TestResult.xml
/myresults.xml
/opencoverCoverage.xml
/.nuget/NuGet.exe
/.vs/TestFramework/v15/Server/sqlite3
/*.htm
/.vs/Ocaramba/v15/Server/sqlite3
/.nuget/*.nupkg
/*.DotSettings
/Ocaramba.Tests.Features/TestFeatures/*.feature.cs
