/.vs/Ocaramba/v15
/*.user
/**/*.nupkg
/**/bin/**/*.*
/**/obj/**/*.*
/packages/**/*.*
/.vs/config/applicationhost.config
/Ocaramba.Documentation/Help
/Ocaramba/Ocaramba.xml
/.vs
/Ocaramba.Tests.Angular/TestResults/*.trx
/Ocaramba.Tests.Docker.xml
/nuget.exe
/TestResults
/.sonarqube/
/UpgradeLog.htm
selenium-manager
*.log
/Ocaramba.Tests.Appium/.vscode/tasks.json
/Ocaramba.Tests.CloudProviderCrossBrowser/.config/dotnet-tools.json
