/*/bin
/*/obj
/TestResults
/packages

StyleCop.Cache
*.suo
*.GhostDoc.xml
TestFramework.sln.DotSettings.user

/Objectivity.Test.Automation.Tests.Specflow/TestFeatures/*.feature.cs
*.user
LastBuild.log
