skip_commits:
  files:
    - README.md
version: $(frameworkVersion).{build}
branches:
  except:
  - gh-pages
  - azure-pipelines
init:
 - ps: >-
      if ($env:APPVEYOR_REPO_TAG -eq "true")
      {
      
        Update-AppveyorBuild -Version "$env:APPVEYOR_REPO_TAG_NAME.$env:APPVEYOR_BUILD_NUMBER"
        
        $env:frameworkVersion = "$env:APPVEYOR_REPO_TAG_NAME" 
        
      }
      
      echo 'frameworkVersion'  $env:frameworkVersion
      
      echo 'version' $env:appveyor_build_version 

      echo 'seleniumGridVersion' $env:seleniumGridVersion 

      echo 'seleniumGridUrl' $env:seleniumGridUrl 
      if ($isWindows) {
          echo Windows: 

          (Get-WmiObject -class Win32_OperatingSystem).Caption
          [System.Environment]::OSVersion.Version   
      }
      
      echo 'ASPNETCORE_ENVIRONMENT' $env:ASPNETCORE_ENVIRONMENT

dotnet_csproj:
   patch: true
   file: '**\*.csproj'
   version: $(frameworkVersion)
   package_version: $(frameworkVersion)
   assembly_version: $(frameworkVersion)
   file_version: '{version}'
   informational_version: '{version}'
  
environment:
  APPVEYOR_RDP_PASSWORD:
    secure: 3OiDAcFLoSt3UCnmEU+XgM2d541PAqCNJAPqoiRqwRI=
  frameworkVersion: 3.2.6
  seleniumGridVersion: selenium-server-standalone-3.141.59.jar
  seleniumGridUrl: http://selenium-release.storage.googleapis.com/3.141/selenium-server-standalone-3.141.59.jar
  latestNugetUrl: https://dist.nuget.org/win-x86-commandline/latest/nuget.exe
  GithubAuthToken:
    secure: x9uTnOFLUnZ6DiVhpBBxIJxij33Sz9uAIe+qef6M3sj9+J/AUmpfBmiGgqRabTqs
  COVERALLS_REPO_TOKEN:
    secure: Yd9hDsMjSmlbmrQ+cqjfLM0qTYWJzAoEnNz4CmWAB6NXr97qwxZ/2ckgnSk8mziE
  browserstackuser:
    secure: 0JGVozUyY/OYBuPZk2Pbgw==
  browserstackkey:
    secure: opcJPLrPneM8MyVpapvon/18SF9oGQ0+ylJINJeio78=
  testingbotkey:
    secure: 1aRAvq8QRbkPLQb7BWdggEqsgd0P8Wbn96zGFb9iBG75eWbexX5n38Zadmxkv2ng
  testingbotsecret:
    secure: 6hiQzkSN5XvXxWg+idSkvJSaNni9ZTCPwlWZy1s7BkagXFyrfUPmNdRWdWwy08B8
  saucelabsusername:
    secure: DlenWuQD9Ml7NAMwOkaHcA==
  saucelabsaccessKey:
    secure: D6Yy/Ng4/rfzsqQmnzwmTtN/Knee3c8/NtI1HgKke2ybA/6WpqP38RQfSHENYECa
  APPVEYOR_SSH_KEY: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDs6YyI6KMFUrjDkdvXZqRAFJzAU2WZo6wyodL+xl4erDJuVMnKPXfyec8OnFiCXElk2HDXorz/G6+5jo3j4u2dB5J3WXZtnUR/ZhQmoRi45tOgZP2pWUpWYwAVbNd4dvrqJRCEiRILSAxgZkDSbdRQP7ijp9ekb1E0s5YDr6VY+xSdY75u1QcOgO7dF84hsrbZnhjHIXYwSqffFuD/Occba6HaGMEz2EbD5ZxDZKdjMGobzWds2y6U7mMWBazeGG7iXx4JjlIDSfkOUgejHy669lwCDc+faFFGHRww9Tb2clhLq5MDYvH8oKr/mowi2TtvuLsO6aHaxlodq5O0hQgH appveyor
  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu
      ASPNETCORE_ENVIRONMENT: Linux
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      ASPNETCORE_ENVIRONMENT: Windows

before_build:
 - ps: >-
    dotnet tool install coveralls.net --tool-path packages
    
    dotnet --version
    
    .\removeSubprojectFromSolution.ps1
    
    dotnet restore
   
build:
  project: Ocaramba.sln
  verbosity: minimal

after_build:
  - ps: >-
      if ($isWindows) {
        #.\PublishingApiDocumentationOn_gh-pages.ps1
        }

for:
-
  matrix:
    only:
      - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      
  test_script:
    - ps: >-
         .\ExecutingTestsOnDocker.ps1
    
         .\ExecutingTestsOnWindows.ps1

  artifacts:
  - path: .\**\Ocaramba*.nupkg
    name: NuGet
  deploy:
  - provider: NuGet
    api_key:
           secure: mZ24caKv/iXJvY54hwng51oLcxZ2/hnJRVW7Ab+bsyahcFYFVqNrhuxW3iT9I2S7
    on:
      branch: master
      appveyor_repo_tag: true

-
  matrix:
    only:
      - APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu
 
 
  test_script:
    - ps: >-
        ./ExecutingTestsOnLinux.ps1 
on_finish:
- ps: >-
    if ($isWindows) {
        #$blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
    }
#- sh: #export APPVEYOR_SSH_BLOCK=true
#- sh: #curl -sflL 'https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-ssh.sh' | bash -e -
