<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="FirefoxPreferences" type="System.Configuration.NameValueSectionHandler"/>
    <section name="FirefoxExtensions" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <appSettings>
    <!--mandatory keys-->
    <add key="protocol" value="http" />
    <add key="host" value="the-internet.herokuapp.com" />
    <add key="url" value="" />
    <!--<add key="browser" value="Chrome" />-->
    <!--<add key="browser" value="InternetExplorer" />-->
    <!--<add key="browser" value="Firefox" />-->
    <add key="browser" value="Firefox" />
    <add key="FirefoxPath" value="Firefox" />
    <!--<add key="proxy" value="127.0.0.1:9999" />-->
    <!--Timeouts-->
    <add key="longTimeout" value="30" />
    <add key="mediumTimeout" value="10" />
    <add key="shortTimeout" value="3" />
    <!--User credentials-->
    <add key="username" value="admin" />
    <add key="password" value="admin" />
    <!--Downloaded files, screenshots and page source location-->
    <add key="UseCurrentDirectory" value="true"/>
    <add key="TestOutput" value="\TestOutput"/>
    <!--Screenshots and logging-->
    <add key="FullDesktopScreenShotEnabled" value="true"/>
    <add key="SeleniumScreenShotEnabled" value="true"/>
    <add key="GetPageSourceEnabled" value="true"/>
    <!--DataDrivenFile-->
    <add key="DataDrivenFile" value="\DataDriven\DataDriven.xml" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >
    <targets>
      <target name="logfile" xsi:type="File" fileName="${basedir}\TestOutput\Test.log" layout="${longdate}|${level}|${logger}|${message}" />
      <target name="console" xsi:type="ColoredConsole" layout="${longdate}|${level}|${logger}|${message}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
      <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>
  </nlog>
  <FirefoxPreferences>
    <!--add key="PreferenceToBeOverride" value="NewValue" /-->
  </FirefoxPreferences>
  <FirefoxExtensions>
    <!-->add key="FirefoxPluginName.xpi" value=""/-->
  </FirefoxExtensions>
</configuration>
