<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <!--mandatory keys-->
    <add key="protocol" value="http" />
    <add key="host" value="msdn.microsoft.com" />
    <add key="url" value="/en-gb/default.aspx" />
    <!--<add key="browser" value="Chrome" />-->
    <!--<add key="browser" value="InternetExplorer" />-->
    <add key="browser" value="Firefox" />
    <add key="waitingTime" value="20" />
    <add key="ajaxWaitingTime" value="10" />
    <add key="username" value="null" />
    <add key="password" value="null" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="Objectivity.Test.Automation.Common" />
    </stepAssemblies>
    <unitTestProvider name="NUnit" />
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>
 </configuration>