<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BuildTools.StyleCop" version="4.7.49.0" targetFramework="net4" />
  <package id="NLog" version="4.0.1" targetFramework="net4" />
  <package id="NUnit" version="2.6.4" targetFramework="net4" />
  <package id="Selenium.Support" version="2.46.0" targetFramework="net4" />
  <package id="Selenium.WebDriver" version="2.46.0" targetFramework="net4" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net4" />
</packages>