<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EWSoftware.SHFB" version="2019.4.14" targetFramework="net452" />
  <package id="EWSoftware.SHFB.NETFramework" version="4.7.2" targetFramework="net452" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.12.0" targetFramework="net452" />
  <package id="NLog" version="4.5.10" targetFramework="net452" />
  <package id="NUnit" version="3.11.0" targetFramework="net452" />
  <package id="NUnit3TestAdapter" version="3.13.0" targetFramework="net452" />
  <package id="OpenCover" version="4.7.922" targetFramework="net452" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="73.0.3683.68" targetFramework="net452" />
  <package id="Selenium.WebDriver.GeckoDriver.Win64" version="0.24.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.IEDriver" version="3.141.59" targetFramework="net452" />
</packages>