<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="4.3.5" targetFramework="net45" />
  <package id="NLog.Schema" version="4.3.4" targetFramework="net40" />
  <package id="Selenium.WebDriver" version="3.0.1" targetFramework="net40" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net40" developmentDependency="true" />
</packages>