<?xml version="1.0" encoding="UTF-8"?>
<RunSettings>
	<RunConfiguration>
<!--<MaxCpuCount>4</MaxCpuCount>-->
		<ResultsDirectory>.\</ResultsDirectory>
	 </RunConfiguration>
<!-- MSTest adapter -->
  <MSTest>
    <CaptureTraceOutput>false</CaptureTraceOutput>
    <DeleteDeploymentDirectoryAfterTestRunIsComplete>False</DeleteDeploymentDirectoryAfterTestRunIsComplete>
    <DeploymentEnabled>False</DeploymentEnabled>
<!--<SettingsFile>.\Testsettings.testsettings</SettingsFile>
    <ForcedLegacyMode>true</ForcedLegacyMode>-->
  </MSTest>
</RunSettings>