<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="coveralls.net" version="0.7.0" targetFramework="net452" developmentDependency="true" />
  <package id="EWSoftware.SHFB" version="2018.7.8.1" targetFramework="net452" />
  <package id="EWSoftware.SHFB.NETFramework" version="4.7.2" targetFramework="net452" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.8.0" targetFramework="net452" />
  <package id="NLog" version="4.5.10" targetFramework="net452" />
  <package id="NUnit" version="3.11.0" targetFramework="net452" />
  <package id="NUnit3TestAdapter" version="3.12.0" targetFramework="net452" />
  <package id="OpenCover" version="4.6.519" targetFramework="net45" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.42.0.1" targetFramework="net452" />
  <package id="Selenium.WebDriver.GeckoDriver.Win64" version="0.23.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.IEDriver" version="3.141.0" targetFramework="net452" />
</packages>