<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="coveralls.net" version="0.7.0" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.AnalysisServices.AdomdClient" version="12.0.2000.8" targetFramework="net40" />
  <package id="NLog" version="4.3.5" targetFramework="net45" />
  <package id="NLog.Schema" version="4.3.4" targetFramework="net40" />
  <package id="OpenCover" version="4.6.519" targetFramework="net45" />
  <package id="PhantomJS" version="2.1.1" targetFramework="net40" />
  <package id="Selenium.Support" version="3.8.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.8.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.34.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.GeckoDriver" version="0.19.1" targetFramework="net45" />
  <package id="Selenium.WebDriver.IEDriver" version="3.8.0" targetFramework="net45" />
  <package id="StyleCop.Analyzers" version="1.0.2" targetFramework="net45" developmentDependency="true" />
</packages>