<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AnalysisServices.AdomdClient" version="12.0.2000.8" targetFramework="net40" />
  <package id="NLog" version="4.2.3" targetFramework="net40" />
  <package id="Selenium.Support" version="2.50.1" targetFramework="net40" />
  <package id="Selenium.WebDriver" version="2.50.1" targetFramework="net40" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.21.0.0" targetFramework="net40" />
  <package id="Selenium.WebDriver.IEDriver" version="2.49.0.0" targetFramework="net40" />
  <package id="StyleCop.MSBuild" version="4.7.49.1" targetFramework="net4" developmentDependency="true" />
</packages>