<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="4.2.1" targetFramework="net4" />
  <package id="NUnit" version="2.6.4" targetFramework="net4" />
  <package id="Selenium.Support" version="2.47.0" targetFramework="net4" />
  <package id="Selenium.WebDriver" version="2.47.0" targetFramework="net4" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.19.0.0" targetFramework="net4" />
  <package id="Selenium.WebDriver.IEDriver" version="2.47.0.0" targetFramework="net4" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net4" />
</packages>