<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AnalysisServices.AdomdClient" version="12.0.2000.8" targetFramework="net452" />
  <package id="NLog" version="4.5.10" targetFramework="net452" />
  <package id="NLog.Schema" version="4.5.10" targetFramework="net452" />
  <package id="NUnit" version="3.11.0" targetFramework="net452" />
  <package id="NUnit.ConsoleRunner" version="3.9.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.6.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.7.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net452" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.4" targetFramework="net452" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.8.0" targetFramework="net452" />
  <package id="NUnit.Runners" version="3.9.0" targetFramework="net452" />
  <package id="NUnit3TestAdapter" version="3.12.0" targetFramework="net452" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.42.0.1" targetFramework="net452" />
  <package id="Selenium.WebDriver.GeckoDriver.Win64" version="0.23.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.IEDriver" version="3.141.0" targetFramework="net452" />
</packages>