<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AnalysisServices.AdomdClient" version="12.0.2000.8" targetFramework="net452" />
  <package id="NLog" version="4.3.5" targetFramework="net452" />
  <package id="NLog.Schema" version="4.3.4" targetFramework="net452" />
  <package id="NUnit" version="3.6.1" targetFramework="net452" />
  <package id="NUnit.ConsoleRunner" version="3.6.1" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.5.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.6.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.5.0" targetFramework="net452" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.2" targetFramework="net452" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.5.0" targetFramework="net452" />
  <package id="NUnit.Runners" version="3.6.1" targetFramework="net452" />
  <package id="Objectivity.Test.Automation.Common.NUnit" version="3.0.5" targetFramework="net452" />
  <package id="PhantomJS" version="2.1.1" targetFramework="net452" />
  <package id="Selenium.Firefox.WebDriver" version="0.15.0" targetFramework="net452" />
  <package id="Selenium.Support" version="3.3.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.3.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.28.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.IEDriver" version="3.3.0" targetFramework="net452" />
</packages>