<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--mandatory keys-->
    <add key="protocol" value="http" />
    <add key="host" value="msdn.microsoft.com" />
    <add key="url" value="/en-gb/default.aspx" />
    <!--<add key="browser" value="Chrome" />-->
    <!--<add key="browser" value="InternetExplorer" />-->
    <add key="browser" value="Firefox" />
    <add key="waitingTime" value="20" />
    <add key="ajaxWaitingTime" value="10" />
    <add key="username" value="null" />
    <add key="password" value="null" />
    <add key="DataDrivenFile" value="DataDrivenFiles\DataDriven.xml" />
  </appSettings>
  </configuration>