<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog"
             type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
    <!--mandatory keys-->
    <add key="protocol" value="http" />
    <add key="host" value="msdn.microsoft.com" />
    <add key="url" value="/en-gb/default.aspx" />
    <!--<add key="browser" value="Chrome" />-->
    <!--<add key="browser" value="InternetExplorer" />-->
    <add key="browser" value="Firefox" />
    <add key="longTimeout" value="30" />
    <add key="mediumTimeout" value="10" />
    <add key="shortTimeout" value="3" />
    <add key="username" value="null" />
    <add key="password" value="null" />
    <add key="TestFolder" value="TestFolder"/>
    <add key="DownloadFolder" value="DownloadFolder"/>
    <add key="FullDesktopScreenShotEnabled" value="true"/>
    <add key="UseCurrentDirectory" value="true"/>
    <add key="SeleniumScreenShotEnabled" value="true"/>
    <add key="GetPageSourceEnabled" value="true"/>
    <add key="DataDrivenFile" value="DataDriven\DataDriven.xml" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >
    <targets>
      <target name="logfile" xsi:type="File" fileName="file.log" layout="${longdate}|${level}|${logger}|${message}" />
      <target name="console" xsi:type="ColoredConsole" layout="${longdate}|${level}|${logger}|${message}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
      <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>
  </nlog>
</configuration>
