<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--mandatory keys-->
    <add key="protocol" value="http" />
    <add key="host" value="msdn.microsoft.com" />
    <add key="url" value="/en-gb/default.aspx" />
    <!--<add key="browser" value="Chrome" />-->
    <!--<add key="browser" value="InternetExplorer" />-->
    <add key="browser" value="Firefox" />
    <add key="longTimeout" value="30" />
    <add key="mediumTimeout" value="10" />
    <add key="shortTimeout" value="3" />
    <add key="username" value="null" />
    <add key="password" value="null" />
    <add key="DataDrivenFile" value="DataDriven\DataDriven.xml" />
    <add key="FullDesktopScreenShotEnabled" value="true"/>
    <add key="SeleniumScreenShotEnabled" value="true"/>
    <add key="TestFolder" value="TestResults"/>
    <add key="GetPageSourceEnabled" value="true"/>
  </appSettings>
  </configuration>