<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="FirefoxPreferences" type="System.Configuration.NameValueSectionHandler"/>
    <section name="FirefoxExtensions" type="System.Configuration.NameValueSectionHandler"/>
    <section name="FirefoxArguments" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ChromePreferences" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ChromeExtensions" type="System.Configuration.NameValueSectionHandler"/>
    <section name="DriverCapabilities" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ChromeArguments" type="System.Configuration.NameValueSectionHandler"/>
    <section name="InternetExplorerPreferences" type="System.Configuration.NameValueSectionHandler"/>
    <sectionGroup name="environments">
      <section name="ChromeWindows" type="System.Configuration.NameValueSectionHandler" />
      <section name="FirefoxWindows" type="System.Configuration.NameValueSectionHandler" />
      <section name="SafariMac" type="System.Configuration.NameValueSectionHandler" />
      <section name="EdgeWindows" type="System.Configuration.NameValueSectionHandler" />
      <section name="IEWindows" type="System.Configuration.NameValueSectionHandler" />
      <section name="Android" type="System.Configuration.NameValueSectionHandler" />
      <section name="Iphone" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--mandatory keys-->
    <add key="protocol" value="http"/>
    <add key="host" value="the-internet.herokuapp.com"/>
    <add key="url" value=""/>
    <!--<add key="browser" value="Safari" />-->
    <!--<add key="browser" value="Chrome" />-->
    <!--<add key="browser" value="InternetExplorer" />-->
    <!--<add key="browser" value="FirefoxPortable" />-->
    <add key="browser" value="RemoteWebDriver"/>
    <!--<add key="browser" value="RemoteWebDriver" />-->
    <add key="FirefoxUseLegacyImplementation" value="false"/>
    <add key="FireFoxPath" value="\..\..\..\FirefoxPortable\FirefoxPortable.exe"/>
    <add key="RemoteWebDriverHub" value="http://localhost:4444/wd/hub"/>
    <!--<add key="RemoteWebDriverHub" value="http://user:key@hub-cloud.browserstack.com/wd/hub"/>-->
    <!--<add key="RemoteWebDriverHub" value="http://user:key@ondemand.saucelabs.com:80/wd/hub"/>-->
    <!--<add key="RemoteWebDriverHub" value="https://hub.testingbot.com/wd/hub/"/>-->
    <add key="DriverCapabilities" value="CloudProvider"/>
    <!--<add key="proxy" value="127.0.0.1:9999" />-->
    <!--Timeouts-->
    <add key="longTimeout" value="30"/>
    <add key="mediumTimeout" value="10"/>
    <add key="shortTimeout" value="3"/>
    <add key="ImplicitlyWaitMilliseconds" value="200"/>
    <!--nlog trace level must be set to "trace" for at least one logger to see EventFiringWebDriver logs-->
    <add key="EnableEventFiringWebDriver" value="false"/>
    <!--User credentials-->
    <add key="username" value="admin"/>
    <add key="password" value="admin"/>
    <!--Downloaded files, screenshots and page source location-->
    <add key="UseCurrentDirectory" value="true"/>
    <add key="DownloadFolder" value="\TestOutput"/>
    <add key="ScreenShotFolder" value="\TestOutput"/>
    <add key="PageSourceFolder" value="\TestOutput"/>
    <!--Screenshots and logging-->
    <add key="FullDesktopScreenShotEnabled" value="true"/>
    <add key="SeleniumScreenShotEnabled" value="true"/>
    <add key="GetPageSourceEnabled" value="true"/>
    <!--Use default firefox profile?-->
    <add key="UseDefaultFirefoxProfile" value="false"/>
    <add key="PathToFirefoxProfile" value="C:\Users\ci_objectivity\AppData\Roaming\Mozilla\Firefox\Profiles"/>
    <!--DataDrivenFile-->
    <add key="DataDrivenFile" value="\DataDriven\DataDriven.xml"/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
    <targets>
      <target name="logfile" xsi:type="File" fileName="${basedir}\TestCloudProviderNUnit.log" layout="${longdate}|${level}|${callsite}|${message}"/>
      <target name="console" xsi:type="ColoredConsole" layout="${longdate}|${level}|${callsite}|${message}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile"/>
      <logger name="*" minlevel="Debug" writeTo="console"/>
    </rules>
  </nlog>
  <FirefoxPreferences>
    <!--add key="PreferenceToBeOverride" value="NewValue" /-->
  </FirefoxPreferences>
  <FirefoxExtensions>
    <!-->add key="FirefoxPluginName.xpi" value=""/-->
  </FirefoxExtensions>
  <FirefoxArguments>
    <!--<add key="FirefoxArgument" value=""/>-->
  </FirefoxArguments>
  <ChromePreferences>
    <!--add key="PreferenceToBeOverride" value="NewValue" /-->
  </ChromePreferences>
  <ChromeExtensions>
    <!-->add key="ChromePluginName.crx" value=""/-->
  </ChromeExtensions>
  <DriverCapabilities>
    <add key="project" value="Test.Automation"/>
    <add key="browserstack.debug" value="true" />
    <add key="build" value="Objectivity.Test.Automation.Tests.CloudProviderCrossBrowser" />
    <add key="browserstack.networkLogs" value="true" />
    <!-->saucelabs Settings/-->
    <add key="extendedDebugging" value="true"/>
  </DriverCapabilities>
  <environments>
    <ChromeWindows>
      <add key="browser" value="chrome" />
      <add key="os" value="Windows"/>
      <add key="os_version" value="10"/>
      <add key="name" value="parallel_test" />
    </ChromeWindows>
    <FirefoxWindows>
      <add key="browser" value="firefox" />
      <add key="os" value="Windows"/>
      <add key="os_version" value="10"/>
      <add key="name" value="parallel_test" />
    </FirefoxWindows>
    <SafariMac>
      <add key="browser" value="safari" />
      <add key="os" value="OS X"/>
      <add key="os_version" value="Mojave"/>
      <add key="name" value="parallel_test" />
      <!-->saucelabs Settings/-->
      <add key="platform" value="macOS 10.14" />
      <add key="version" value="12.0" />
    </SafariMac>
    <EdgeWindows>
      <add key="browser" value="edge" />
      <add key="os" value="Windows"/>
      <add key="os_version" value="10"/>
      <add key="name" value="parallel_test" />
    </EdgeWindows>
    <IEWindows>
      <add key="browser" value="IE" />
      <add key="os" value="Windows"/>
      <add key="os_version" value="10"/>
      <add key="name" value="parallel_test" />
    </IEWindows>
    <Android>
      <add key="device" value="Samsung Galaxy S8"/>
      <add key="realMobile" value="true"/>
      <add key="name" value="parallel_test" />
    </Android>
    <Iphone>
      <add key="device" value="iPhone 7"/>
      <add key="realMobile" value="true"/>
      <add key="name" value="parallel_test" />
    </Iphone>
  </environments>
  <ChromeArguments>
    <!--<add key="ChromeArgument" value=""/>-->
  </ChromeArguments>
  <InternetExplorerPreferences>
    <!--<add key="InternetExplorerArgument" value=""/>-->
  </InternetExplorerPreferences>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
