<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="FirefoxPreferences" type="System.Configuration.NameValueSectionHandler"/>
    <section name="FirefoxExtensions" type="System.Configuration.NameValueSectionHandler"/>
    <section name="FirefoxArguments" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ChromePreferences" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ChromeExtensions" type="System.Configuration.NameValueSectionHandler"/>
    <section name="DriverCapabilities" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ChromeArguments" type="System.Configuration.NameValueSectionHandler"/>
	<section name="InternetExplorerPreferences" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <appSettings>
    <!--mandatory keys-->
    <add key="protocol" value="http"/>
    <add key="host" value="the-internet.herokuapp.com"/>
    <add key="url" value=""/>
    <!--<add key="browser" value="Chrome" />-->
    <!--<add key="browser" value="InternetExplorer" />-->
    <!--<add key="browser" value="Firefox" />-->
    <!--<add key="browser" value="Safari" />-->
    <!--<add key="browser" value="Edge" />-->
    <!--<add key="browser" value="RemoteWebDriver" />-->
    <add key="browser" value="Firefox"/>
    <!--Set path to the directory containing Drivers, leave it empty for default locations \bin-->
    <add key="PathToChromeDriverDirectory" value=""/>
    <add key="PathToFirefoxDriverDirectory" value=""/>
    <add key="PathToInternetExplorerDriverDirectory" value=""/>
    <add key="PathToEdgeDriverDirectory" value="C:\Windows\SysWOW64\"/>
    <!--Set path and file name of the browsers executable, leave it empty for default locations-->
    <add key="ChromeBrowserExecutableLocation" value=""/>
    <add key="FireFoxBrowserExecutableLocation" value=""/>
    <add key="FirefoxUseLegacyImplementation" value="false"/>
    <!--Set path path to firefox profile, leave it empty for default-->
    <add key="PathToFirefoxProfile" value=""/>
    <!--Set RemoteWebDriverHub if using RemoteWebDriver as browser-->
    <add key="RemoteWebDriverHub" value="http://localhost:4444/wd/hub"/>
    <!--<add key="RemoteWebDriverHub" value="http://user:key@hub-cloud.browserstack.com/wd/hub"/>-->
    <!--Set DriverCapabilities if using RemoteWebDriver as browser-->
    <add key="DriverCapabilities" value="Chrome"/>
    <!--<add key="proxy" value="127.0.0.1:9999" />-->
    <!--Timeouts-->
    <add key="longTimeout" value="30"/>
    <add key="mediumTimeout" value="10"/>
    <add key="shortTimeout" value="3"/>
    <add key="ImplicitlyWaitMilliseconds" value="200"/>
    <!--User credentials-->
    <add key="username" value="admin"/>
    <add key="password" value="admin"/>
    <!--Downloaded files, screenshots and page source location-->
    <add key="UseCurrentDirectory" value="true"/>
    <add key="DownloadFolder" value="\TestOutput"/>
    <add key="ScreenShotFolder" value="\TestOutput"/>
    <add key="PageSourceFolder" value="\TestOutput"/>
    <!--Screenshots and logging-->
    <add key="FullDesktopScreenShotEnabled" value="true"/>
    <add key="SeleniumScreenShotEnabled" value="true"/>
    <add key="GetPageSourceEnabled" value="true"/>
    <add key="JavaScriptErrorLogging" value="true"/>
    <!--JavaScript errors type to be search on browser logs-->
    <add key="JavaScriptErrorTypes" value="SyntaxError,EvalError,ReferenceError,RangeError,TypeError,URIError,Refused to display,Internal Server Error,Cannot read property" />
    <!--nlog trace level must be set to "trace" for at least one logger to see EventFiringWebDriver logs-->
    <add key="EnableEventFiringWebDriver" value="false"/>
    <!--DataDrivenFile-->
    <add key="DataDrivenFile" value="\DataDriven\DataDriven.xml"/>
    <add key="DataDrivenFileXlsx" value="\DataDriven\DataDriven.xlsx"/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
    <targets>
      <target name="logfile" xsi:type="File" fileName="${basedir}\TestNUnit.log" layout="${longdate}|${level}|${callsite}|${message}"/>
      <target name="console" xsi:type="ColoredConsole" layout="${longdate}|${level}|${callsite}|${message}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile"/>
      <logger name="*" minlevel="Debug" writeTo="console"/>
    </rules>
  </nlog>
  <FirefoxPreferences>
    <!--add key="PreferenceToBeOverride" value="NewValue" /-->
  </FirefoxPreferences>
  <FirefoxExtensions>
    <!-->add key="FirefoxPluginName.xpi" value=""/-->
  </FirefoxExtensions>
  <FirefoxArguments>
    <!--<add key="FirefoxArgument" value=""/>-->
  </FirefoxArguments>
  <ChromePreferences>
    <!--add key="PreferenceToBeOverride" value="NewValue" /-->
  </ChromePreferences>
  <ChromeExtensions>
    <!-->add key="ChromePluginName.crx" value=""/-->
  </ChromeExtensions>
  <DriverCapabilities>
    <!--<add key="browserstack.user" value="value"/>-->
    <!--<add key="browserstack.key" value="value"/>-->
    <!-- <add key="project" value="Test.Automation"/>-->
  </DriverCapabilities>
  <ChromeArguments>
    <!--<add key="ChromeArgument" value=""/>-->
  </ChromeArguments>
   <InternetExplorerPreferences>
    <!--<add key="InternetExplorerArgument" value=""/>-->
  </InternetExplorerPreferences>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
